
@font-face {
    font-family: Gossip-HighSquare;
    src: url("../assets/fonts/Gossip-HighSquare.otf");
}

* {
    box-sizing: border-box;
}

a {
    color:#fef9f9;
}

/* mouse over link */
a:hover {
  color: #ff69b4;
}

body {
    background-color: #0d0d1c;
    color:#fef9f9;
    font-family: Gossip-HighSquare;
    padding: 20px;
}

.footer {
    text-align:center;
    padding:10px;
    margin-top:7px;
    f
}

.header {
    padding:15px;
    width: 100%;
    text-align:center;
}

.header img {
    width: 60%; 
}

.menu {
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

.menu a {
    padding: 8px;
    display: block;
    width: 100%;
    margin-top: 7px;
}

.main {
    align-content: center;
    float: left;
    width: 60%;
    padding: 0 10px;
}

.main img {
    width: 100%;
    padding: 2px;
}

.p-logo {
    width: 20%; 
}

.right {
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
    
    .header img {
	width: 100%;
    }
}
